.container {
    width: 100%;
    overflow-x: auto;
}

.bars {
    min-width: max-content;
    display: flex;
    height: 100%;
}

.bar {
    height: 100%;
    width: 5rem;
    display: grid;
    grid-template-rows: 1fr auto;
}

.barValueWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.barValue {
    width: 1rem;
    background-color: #4CAF50;
}

.barLabel {
    text-align: center;
}

.label {
    text-align: center;
    overflow: hidden;
}

.label.hoverStyle:hover {
    color: #667eea;
}

.label.activeStyle {
    color: #4b98fb;
}
